﻿@model Models.Entities.CreateCourseDTO

@{
    ViewData["Title"] = "Створити курс";
}

<div>
    <h3 class="text-center">Створити курс</h3>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="GroupId">Виберіть групу:</label>
            <select asp-for="GroupId" class="form-control">
                @foreach (var item in ViewBag.Groups)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="SubjectId">Виберіть дисципліну:</label>
            <select asp-for="SubjectId" class="form-control selectpicker">
                @foreach (var item in ViewBag.Subjects)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Створити</button>
            <a href="/Teacher/Courses" class="btn btn-danger">Відмінити</a>
        </div>
    </form>
</div>

<script>
    $('.selectpicker').select2();
</script>