﻿@model Models.Entities.SessionTestItem

    <tr>
        <td>@Model.SubjectName</td>
        <td>@Model.Test.Name</td>
        <td>@Model.StartDate.ToString()</td>
        <td>@Model.EndDate.ToString()</td>
        @if (Model.Mark == null)
        {
            <td>
                <a class="btn btn-success" href="/Session/Start/@Model.PersonSessionId">Пройти тест</a>
            </td>
        }
        else
        {
            <td>
                <a class="btn btn-info" href="/Session/Result/@Model.PersonSessionId">Результат (@Model.Mark)</a>
            </td>
        }
    </tr>