﻿@model Models.Entities.StudentGroupDTO
@{
    ViewData["Title"] = "Студенти групи";
}

<h2>Студенти групи - @Model.GroupName</h2>

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>Група</th>
        <th>Студент</th>
        <th>Результати</th>
    </tr>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>@Model.GroupName</td>
            <td>@item.StudentName</td>
            <td><a href="/student/results/@item.StudentId">Результати</a></td>  
        </tr>
    }
</table>

