﻿@model IEnumerable<Models.Entities.SessionTestItem>
@{
    ViewData["Title"] = "Відкриті тести";
}

<h2>Відкриті тести</h2>

<table class="table table-sm table-striped table-bordered">
    @foreach (var item in Model)
    {
        @Html.Partial("_PersonalSession",item)
    }
</table>

