﻿@model Models.Entities.TeacherInfoModel
@{
    ViewData["Title"] = "ModifyTeacher";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Інформація про викладача</h4></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="ModifyTeacher" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LastName">Прізвище:</label>
                <input class="form-control" asp-for="LastName" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName">Ім'я:</label>
                <input class="form-control" asp-for="FirstName" />
            </div>
            <div class="form-group">
                <label asp-for="MiddleName">По батькові:</label>
                <input class="form-control" asp-for="MiddleName" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Ел. пошта:</label>
                @if (Model.Id == 0)
                {
                    <input class="form-control" asp-for="Email" />
                }
                else
                {
                    <input class="form-control" asp-for="Email" readonly />
                }
            </div>
            <div class="text-center">
                @if (Model.Id != 0)
                {

                    if (Model.IsDeleted)
                    {
                        @Html.ActionLink("Aктивувати", "ActivateTeacher", "organization",new { id = Model.Id }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        @Html.ActionLink("Деактивувати", "DeactivateTeacher", "organization",new { id = Model.Id }, new { @class = "btn btn-danger" })
                    }
                }
                <button class="btn btn-primary" type="submit">
                    @(Model.Id == 0 ? "Створити" : "Зберегти")
                </button>

            </div>
        </form>
    </div>
</div> 