﻿@model Models.Entities.Specialty
@{
    ViewData["Title"] = "Спеціальність" + Model.Name!=null?" - "+Model.Name:"";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Інформація про спеціальність</h4></div>
    
    <div class="panel-body">
        <form class="p-a-1" asp-action="ModifySpecialty" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Назва:</label>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="PartialName">Часткова назва:</label>
                <input class="form-control" asp-for="PartialName" />
            </div>
            <div class="form-group">
                <label asp-for="YearsOfStuding">К-сть років навчання:</label>
                <input class="form-control" asp-for="YearsOfStuding" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    @(Model.Id == 0 ? "Створити" : "Зберегти")
                </button>
            </div>
        </form>
    </div>
</div> 