﻿@model IEnumerable<Models.Entities.Specialty>
@{
    ViewData["Title"] = "Specialties";
}

<h2>Спеціальності</h2>
<div>
    <a class="btn btn-info" href="/organization/ModifySpecialty">
        Додати спеціальність
    </a>
</div>
</br>
<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>Назва</th>
        <th>Часткова назва</th>
        <th>К-сть років навчання</th>
        <th>Групи</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="/organization/modifySpecialty/@item.Id">@item.Name</a>
    </td>
    <td>@item.PartialName</td>
    <td>@item.YearsOfStuding</td>
    <td>
        <a href="/group/index/@item.Id">Групи</a>
    </td>
</tr>
    }
</table>
