﻿@model IEnumerable<Models.Entities.TeacherInfoModel>
@{
    ViewData["Title"] = "Викладачі";
}

<h2>Викладачі</h2>
<div>
        <a class="btn btn-info" href="/organization/modifyTeacher">
            Додати викладача
        </a>
</div>
</br>
<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>Ім'я</th>
        <th>Ел. пошта</th>
        <th>Активний</th>
        <th>Курси</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        <a class="btn-link" href="/organization/modifyTeacher/@item.Id">@item.FullName</a>
    </td>
    <td>@item.Email</td>
    <td>@(item.IsDeleted == true ? "Ні" : "Так")</td>
    <td>
        <a class="btn-link" href="/organization/modifyTeacher/@item.Id">Курси</a>
    </td>
</tr>
    }
</table>

