﻿@model  IEnumerable<Models.Entities.Subject>
@{
    ViewData["Title"] = "Дисципліни";
}

<h2>Дисципліни</h2>

<form method="post" action="/subject/modify">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only">Назва дисципліни</label>
            <input type="text" class="form-control mb-2" name="Name" placeholder="Філософія">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Додати</button>
        </div>
    </div>
</form>

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>Назва</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>