﻿@model Models.Entities.Answer
<td>@Model.Text</td>
<td>
   @(Model.IsRight?"+":"-")
</td>
<td>
    <form action="/teacher/DeleteAnswer?id=@Model.Id" data-ajax-method="delete" method="delete" data-ajax-update="#questionAnswers@(Model.QuestionId)" data-ajax="true">
        <button type="submit" class="btn btn-danger" style="color:white">Видалити</button>
    </form>
</td>