﻿@model IEnumerable<Models.Entities.TestSession>

@foreach(var item in Model)
{
    <tr>
        <td>@item.Test?.Name</td>
        <td>@(item.CreateDate.HasValue?item.CreateDate.Value.ToString():"")</td>
        <td>@(item.EndDate.HasValue?item.EndDate.Value.ToString():"")</td>
        <td>@Html.ActionLink("Результати","GroupResults","Session",new { sessionId=item.Id })</td>
    </tr>
}