﻿@model IEnumerable<Models.Entities.Course>

@{
    ViewData["Title"] = "Мої курси";
}

<h2>Мої курси</h2>

<p>
    <a class="btn btn-info" href="/course/create">
        Створити курс
    </a>
</p>

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>Група</th>
        <th>Дисципліна</th>
        <th>Викладач</th>
        <th>Дата початку</th>
        <th>Тести</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr
            @if(new DateTime(item.Group.YearOfEnd,7,1)<DateTime.Now)
            {
                @:style="border:2px dashed red"
            }
            >
            <td>@item.Group.Name</td>
            <td>@item.Subject.Name</td>
            <td>@item.Teacher.FullName</td>
            <td>@item.CreatedDate.ToShortDateString()</td>
            <td><a href="/teacher/course?groupId=@item.Group.Id&teacherId=@item.Teacher.Id&subjectId=@item.Subject.Id">Тести</a></td>
        </tr>
    }
</table>
