﻿@model Models.Entities.Course
@{
    ViewData["Title"] = "Курс " + Model.Subject.Name;
}

<h2>Курс @Model.Subject.Name групи @Model.Group.Name</h2>

<div>
    <form class="addSessionForm"
          action="/teacher/Session"
          method="post"
          data-ajax-update="#sessions"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-complete="completed">

        <h4>Запустити тест</h4>
        <div>
            <div class="row form-group">
                <input type="hidden" value="@Model.Id" name="CourseId" />
                <div class="col-md-4">
                    <label>Виберіть тест:</label>
                </div>
                <div class="col-md-4">
                    <select name="TestId" class="form-control">
                        @foreach (var test in ViewBag.AvailableTests)
                        {
                            <option value="@test.Id">@test.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-4">
                    <label>Виділено хвилин на тест:</label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="TimeToLiveInMinutes" />
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Запустити</button>
        </div>
    </form>
</div>
<div style="margin-top:20px">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Назва тесту</th>
                <th>Час початку</th>
                <th>Час закінчення</th>
                <th>Результати</th>
            </tr>
        </thead>
        <tbody id="sessions">
            @Html.Partial("_TestSessions", Model.TestSessions)
        </tbody>
    </table>
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success" style="color:white">
                <h5>KAssestment</h5>
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body"  >
                <h4 style="text-align:center">Тест запущенно</h4>
            </div>
        </div>
    </div>
</div>

<script>

    completed = function () {
        document.getElementsByName("TimeToLiveInMinutes")[0].value = "";
        $("#modDialog").modal('show')
        };
</script>