﻿@model Models.Entities.Test
@{
    ViewData["Title"] = (Model.Id == 0 ? "Створити" : "Редагувати") + " тест";
}

<h2>@((Model.Id == 0 ? "Створити" : "Редагувати") + " тест")</h2>


<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Інформація про тест</h4></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="ModifyTest" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SubjectId">Виберіть дисципліну:</label>
                <select asp-for="SubjectId" class="form-control selectpicker">
                    @foreach (var item in ViewBag.Subjects)
                    {
                        if (ViewBag.SelectedSubject != null && ViewBag.SelectedSubject != 0 && item.Id == ViewBag.SelectedSubject)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name">Назва тесту:</label>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Опис тесту:</label>
                <input class="form-control" asp-for="Description" />
            </div>
            <div class="form-group">
                <label asp-for="NumberOfQuestions">Стандартна к-сть питань:</label>
                <input class="form-control" asp-for="NumberOfQuestions" type="number" />
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    @(Model.Id == 0 ? "Створити" : "Зберегти")
                </button>
                <a class="btn btn-danger" href="/teacher/tests">
                    Відмінити
                </a>
                @if (Model.Id != 0)
                {
                    <a class="btn btn-success" href="/teacher/TestQuestions/@Model.Id">
                        Питання
                    </a>
                }
            </div>
        </form>
    </div>
</div>

<script>
    $('.selectpicker').select2();
</script>