﻿@model Models.Entities.Test
@{
    ViewData["Title"] = "Тест - " + Model.Name;
}
<h2>Тест - @Model.Name</h2>
<hr />
<form action="/teacher/ModifyQuestion" method="post">
    <h4>Текст питання</h4>
    <div class="row">
        <input type="hidden" name="TestId" value="@Model.Id" />
        <div class="col-md-8">
            <input type="text" class="form-control" name="QuestionText" required />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Створити</button>
        </div>
    </div>
</form>
<hr />

<div id="accordion">
    @foreach (var q in Model.Questions)
    {
        <h3>@q.QuestionText</h3>
        <div>
            <div>
                <table  class="table table-sm table-striped table-bordered" id="questionAnswers@(q.Id)">
                    <tr>
                        <th>Текст</th>
                        <th>Відповідь вірна?</th>
                        <th></th>
                    </tr>
                    @Html.Partial("_QuestionAnswers",q) 
                </table>
            </div>
            <div>

                <form action="/teacher/ModifyAnswer" method="post" data-ajax-update="#questionAnswers@(q.Id)" data-ajax-complete="completed" data-ajax="true" data-ajax-method="post" id="modifyAnswerForm">
                    <div class="row">
                        <input type="hidden" name="QuestionId" id="questionId" value="@q.Id" />
                        <div class="col-md-6">
                            <input type="text" id="answerText" class="form-control" placeholder="Текст відповіді" name="Text" required />
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    Відповідь правильна?
                                </div>
                                <div class="col-md-4">
                                    @Html.CheckBox("IsRight",new { @class = "form-control" });
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Додати</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    }
</div>

<script>
    $(function () {
        $("#accordion").accordion({heightStyle: "content" });
    });

    completed = function () {
        document.getElementById("answerText").value = "";
        };
</script>