﻿@model IEnumerable<Models.Entities.TestsListItemDTO>
@{
    ViewData["Title"] = "Мої тести";
}

<h2> Мої тести</h2>
<p>
    <a class="btn btn-info" href="/teacher/modifyTest">
        Створити тест
    </a>
</p>

<div id="accordion">
    @foreach (var item in Model)
    {
        <h3>@item.Subject.Name</h3>
        <div>
            <ul>
                @foreach (var test in item.Tests)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                <a class="alert-link" style="color:blue;text-decoration:underline" href="/teacher/modifyTest?testId=@test.Id">@test.Name</a>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-info" style="color:white" href="/teacher/testQuestions/@test.Id">Питання</a>
                            </div>
                            <div class="col-md-1">
                                
                                <form method="delete" action="/teacher/deleteTest">
                                    <input type="hidden" name="testId" value="@test.Id" />
                                    <button type="submit" class="btn btn-danger">Видалити</button>
                                </form>
                            </div>
                        </div>
                        <br />
                    </li>
                }
            </ul>
        </div>
    }
</div>

<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>
