﻿@model IEnumerable<Models.Entities.Group>
@{
    ViewData["Title"] = "Групи";
}

<h2>Групи</h2>
<div>
    <a class="btn btn-info" href="/group/modify">
        Додати групу
    </a>
</div>
<br />
<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>Назва</th>
        <th>Cпеціальність</th>
        <th>Рік вступу</th>
        <th>Рік випуску</th>
        <th>Студенти</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr
            @if(new DateTime(item.YearOfEnd,7,1)<DateTime.Now)
            {
                @:style="border:2px dashed red"
            }
            >
            <td><a href="/group/modify/@item.Id">@item.Name</a></td>
            <td>@item.Specialty.Name</td>
            <td>@item.YearOfEntry</td>
            <td>@item.YearOfEnd</td>
            <td>
                <a href="/student/group/@item.Id">Студенти</a>
            </td>
        </tr>
    }
</table>