﻿@model Models.Entities.ModifyGroupModel
@{
    ViewData["Title"] = "Редагування групи";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Інформація про групу</h4></div>

    <div class="panel-body">
        <form class="p-a-1" action="/group/modify" method="post">
            <div class="form-group">
                <label asp-for="Group.SpecialtyId">Cпеціальність:</label>
                <select required class="form-control" name="SpecialtyId" asp-for="Group.SpecialtyId">
                    @foreach (var specialty in Model.Specialties)
                    {
                        <option value="@specialty.Id">@specialty.Name</option>
                    }
                </select>
            </div>
            @if (Model.Group.Id == 0)
            {
                <div class="form-group">
                    <label asp-for="Group.Number">Номер групи:</label>
                    <input type="number" name="Number" required class="form-control" placeholder="Введіть 1 для 2ОК1, 2 для 2ОК2" />
                </div>
            }
            @if (Model.Group.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="Group.Name">Назва групи:</label>
                    <input name="UUID" readonly class="form-control" value="@Model.Group.Name" />
                </div>
            }
            <div class="form-group">
                <label asp-for="Group.YearOfEntry">Рік вступу:</label>
                <input name="YearOfEntry" value="@Model.Group.YearOfEntry" required class="form-control" />
            </div>
            @if (Model.Group.Id != 0)
            {
                <div class="form-group">
                    <label asp-for="Group.UUID">Код групи:</label>
                    <input name="UUID" readonly class="form-control" value="@Model.Group.UUID" />
                </div>
            }
            @if (Model.Group.Id == 0)
            {
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        @(Model.Group.Id == 0 ? "Створити" : "Зберегти")
                    </button>
                </div>
            }
        </form>
    </div>
</div> 