﻿@model  Models.Entities.FinishRegistringFromLinkModel
@{
    ViewData["Title"] = "FinishRegistring";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Завершення реєстрації для @Model.Email</h4></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="FinishRegistring" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="uuid" />
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ">
                <div class="col-md-6 col-md-offset-3">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                   Завершити
                </button>
            </div>
        </form>
    </div>
</div> 