﻿@model Models.Entities.LoginUserModel
@{
    ViewData["Title"] = "Увійти";
}
<div id="container" class="d-flex justify-content-center align-items-center container">
    <div class="row">
        <div class="col-md-12 offset-sm-1 text-center">
            @using (Html.BeginForm("Login", "Account", "post"))
            {
                        <div class="col-md-12 col-md-offset-3">
                            <h2>Увійти</h2>
                        </div>
                        <div class="form-group">
                                Ел. пошта
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                                Пароль
                                <input type="password" class="form-control" name="Password" value="@Model.Password" />
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

                        <div class="form-group">
                                <button type="submit" class="btn-primary form-control">Відправити</button>
                        </div>

                        <div class="form-group">
                          @Html.ActionLink("Я студент, хочу зареєструватись","StudentSignUp","Account")
                        </div>
            }
        </div>
    </div>
</div>
